NEXT_PUBLIC_GOOGLE_CAPTCHA_KEY=KEPCHA_KEY
NEXT_PUBLIC_API_URL="http://151.106.113.93:3001"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_MONGODB_URL=YOUR-SECRET-KEY
NEXT_PUBLIC_MONGODB_DATABASE=YOUR-SECRET-KEY
NEXT_PUBLIC_MONGODB_COLLECTION=YOUR-SECRET-KEY